# Node modules
node_modules/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Build directories
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment files
.env

# macOS specific
.DS_Store

# IDE/Editor-specific files
.vscode/
.idea/

# Other
*.log
